body {
    background-image: url(assets/fundoIndex.jpg);
    background-size: cover;
    background-position: center;
    font: 13pt Arial;
    height: 100%;
}

main {
    background-color: rgba(31, 30, 30, 0.411);
    width: 800px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.529);
}

.atividades {

    margin-top: 20px;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.473);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
}
 ul{
    /* background-color: rgba(112, 128, 144, 0.096); */
    padding: 20px 30px;
    border-radius: 20px;
 }

.titulo-2{
    text-align: center;
    color: rgb(255, 253, 248);
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

aside {
    display: block; 
    font-size: 10pt;
    text-align: justify;
    background-color: #265b6bd7;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

aside img {
    width: 60px; 
    display: block; 
    float: left;
    margin-right: 10px;
}

li {
    color: #fff;
}


a, a:visited {
    color: rgb(181, 212, 238);
    font-weight: bolder;
}

a:hover {
    color: rgb(137, 171, 235);
    text-decoration: none;
}