body {
    background-image: linear-gradient(to right bottom, #e7e7dd, rgba(228, 209, 148, 0.37));
    font: 13pt Arial;
}

main {
    background-color: white;
    width: 800px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.529);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
}
 ul{
    padding: 20px 30px;
    border-radius: 20px;
 }

.titulo-2{
    color: rgb(255, 253, 248);
}

h2 {
    color: #102f59;
}

aside {
    display: block; 
    font-size: 10pt;
    text-align: justify;
    background-color: #008992;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

aside img {
    width: 60px; 
    display: block; 
    float: left;
    margin-right: 10px;
}

a, a:visited {
    color: #102f59;
    font-weight: bolder;
}

a:hover {
    color: #00587c;
    text-decoration: none;
}