body {
    background-image: url(assets/img.jpg);
    font: 13pt Arial;
    height: 100%;
}

main {
    background-color: white;
    width: 800px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.529);
}

.atividades {
    margin-top: 20px;
    backdrop-filter: blur(20px);
    background-color: transparent;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
}
 ul{
    /* background-color: rgba(112, 128, 144, 0.096); */
    padding: 20px 30px;
    border-radius: 20px;
 }

.titulo-2{
    text-align: center;
    color: rgb(255, 253, 248);
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

aside {
    display: block; 
    font-size: 10pt;
    text-align: justify;
    background-color: #008992;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

aside img {
    width: 60px; 
    display: block; 
    float: left;
    margin-right: 10px;
}

li {
    color: #fff;
}


a, a:visited {
    color: #b6bac0;
    font-weight: bolder;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}