body {
    background-image: linear-gradient(to right, rgb(113, 113, 172), blue );
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

